* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: #f3f5fc;
  margin: 0.5rem;
}

/**** BUTTONS ****/
button {
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: 0.0625rem solid #0a3871;
  height: 4.1875rem;
  font-weight: 900;
}
.btn-primary {
  color: white;
  background: #0a3871;
}
.btn-secondary {
  color: #0a3871;
  background: #f3f5fc;
}
.btn-copy {
  visibility: hidden;
}

/**** LOGO ****/
header .logo {
  margin: 1rem;
}

/**** INPUT SECTION ****/
.input textarea {
  display: block;
  color: #0a3871;
  background: #f3f5fc;
  width: 100%;
  height: 100%;
  border-color: Transparent;
}

.input .instructions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0.5rem;
}
.input .instructions p {
  color: #495057;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
}

.input > *,
.input .buttons > * {
  margin: 1rem 0;
}
.input .buttons > *:first-child {
  margin: 0;
}
.input .buttons {
  display: flex;
  flex-flow: column;
}

/**** OUTPUT SECTION ****/
.output {
  display: flex;
  flex-flow: column;
  padding: 32px;
  margin: 2rem;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  text-align: center;
}
.output > *, .output .content > * {
  margin: 1rem;
}
.output .content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/**** TABLET ****/
@media (min-width: 600px) {
  .input .buttons {
    flex-flow: row;
    justify-content: space-evenly;
  }
  .input > *,
  .input .buttons > * {
    margin: 0;
  }
  .input .buttons > * {
    width: 40%;
  }
  .output img {
    width: 50%;
    margin: auto;
  }
}

/**** DESKTOP ****/

@media (min-width: 1200px) {
  body {
    height: 90vh;
  }
  main {
    display: flex;
    flex-flow: row;
    height: 100vh;
    padding-left: 6rem;
  }
  .input {
    width: 70%;
  }
  .input textarea {
    height: 65vh;
  }
  .input .buttons {
    flex-flow: row;
    justify-content: space-evenly;
  }
  .input > *,
  .input .buttons > * {
    margin: 0;
  }
  .input .buttons > * {
    width: 40%;
  }
  .output {
      width: 30%;
  }
  .output img {
    width: 100%;
  }
}
